.login-container {
  margin-top: 10vh;
}

.login-form {
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  padding: 1%;
  background: rgba(45, 167, 142, 0.52);
  margin-top: 10vh;
  margin-left: 30vw;
}
.login-form h3 {
  text-align: center;
  color: #fff;
}
.login-container form {
  padding: 10%;
}
.btnSubmit {
  width: 100%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

/* .login-form .btnSubmit {
  background-color: #fff;
  color: green;
  transition: ease 0.5s;
}

.login-form .btnSubmit:hover {
  color: white;
  background-color: green;
} */

.login-form .btnSubmit:active {
  color: #0062cc;
  background-color: #fff;
}

.login-form .ForgetPwd {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.imageLogin {
  background: url(./imagesLoginScreen/EstadioCapitanSanLuisPinarDelRio.png)
    no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
.text {
  color: bisque;
  padding: 2px;
}
